<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="home.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <div class="social_icon">
        <a href="" class="social_link"><i class='bx bxl-facebook-square' ></i></a>
      
        <a href="" class="social_link"><i class='bx bxl-instagram'></i></a>
        
        <a href="" class="social_link"><i class='bx bxl-twitter' ></i></a>
        
        <a href="" class="social_link"><i class='bx bxl-github' ></i></a>
        
        <a href="" class="social_link"><i class='bx bxl-linkedin' ></i></a>
      </div>
      <div class="my_image">
        
      </div>
      <div class="me">
        <div class="intro">
          <h3 class="my_name">KAMAL PANDEY</h3>
          <span class="subtitle">FRONT END DEVELOPER</span>
          <p class="description">Hello, my name is Kamal Pandey. I'm a web developer, a coding
            student, a software engineering student.</p>
        </div>
      </div>
    </div>
  </body>
</html>
