* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
.snowball:nth-child(odd) {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px 2px white;
  animation: y-axis 10s infinite linear;
  animation-direction: reverse;
}
.snowball:nth-child(even) {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 5px 2px white;
  animation: y-axis 10s infinite linear;
}
.wrapper-1:nth-child(odd) {
  animation: x-axis 10s infinite ease-in-out;
  animation-direction: reverse;
}
.wrapper-1:nth-child(even) {
  animation: x-axis 10s infinite ease-in-out;
}
.wrapper-2:nth-child(odd) {
  animation: z-rotate 10s infinite ease-in-out;
}
.wrapper-2:nth-child(even) {
  animation: z-rotate 10s infinite ease-in-out;
}
@keyframes x-axis {
  0% {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateY(100px);
  }
}
@keyframes y-axis {
  0% {
    transform: translateY(-300px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(300px);
  }
}
@keyframes z-rotate {
  50% {
    transform: rotateZ(120deg);
  }
}
