<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="contact.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Contact Me</title>
</head>
<body>
    <div class="container_contact">
        <div class="top">
            <h3><span>Contact Me</span></h3>
            <hr/>
        </div>
        <div class="content">
            <div class="form_content">
                <form>
                    <div>
                        <label for="fullname">Full Name: </label>
                        <input class="form_details" id="fullname" type="text" placeholder="Your full name"/>
                    </div>
                    <div>
                        <label for="email">Email: </label>
                        <input class="form_details" type="text" id="email" placeholder="Your email"/>
                    </div>
                    <div>
                        <label for="message">Message: </label>
                        <textarea name="message" id="message" cols="21" rows="7"></textarea>
                    </div>
                    <div>
                        <button class="contact_button">Contact Me</button>
                    </div>
                </form>
                <div class="social_links">
                    <a href="https://www.facebook.com/kamal.pandey03/"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="https://www.instagram.com/kamalpandey_03/"><i class='bx bxl-instagram-alt'></i></a>
                    <a href="https://twitter.com/kamalpandey03"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://github.com/Kamal-pandey03"><i class='bx bxl-github' ></i></a>
                </div>
            </div>
            <div class="text_content">
                <div class="text_heading">
                    <span>Let's Chat. <br/> Tell me some idea you got!</span>
                </div>
                <div class="text_description">
                    <span>Let's create something together.</span>
                </div>
                <div class="text_mail">
                    <div class="mail_icon">
                        <i class='bx bx-mail-send'></i>
                    </div>
                    <div class="mail_text">
                        <span class="mail_heading">Mail me at: </span>
                        <span class="mail_description">pandeykamal098@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>