<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About Me</title>
</head>
<body>
    <div class="container">
        <div class="about">
            <h3  class="about_me"><span>About Me</span></h3>
            <hr/>
        </div>
        <div class="about_content">
            <img src="../Kamalpandey.jpg" alt="about me image" class="about_img" height="200px" width="200px">
            <div class="about_text">
                <span>
                    Hello, my name is Kamal Pandey. I'm a web developer, a coding
            student, and a software engineering student who strives to give my
            all in whatever I do. Aside from coding, I enjoy creating content,
            whether it's videos for YouTube or blog posts. I think that every
            problem has a solution, which is why I approach problems with a
            problem-solving perspective. Learning new things fascinates me
            because it allows me to grow into a better version of myself.
                </span>
            </div>
        </div>
    </div>
</body>
</html>