<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="edu.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Education</title>
  </head>
  <body>
    <div class="container">
      <div class="education_text">
        <h3><span>Education</span></h3>
        <hr />
      </div>
      <div class="education_details">
        <div class="education_data">
          <div>
            <h3 class="education_title">
              <i class="bx bxs-graduation"></i> Nepal College of Information
              Technology
            </h3>
            <span class="education_subtitle"> &rarr; BE Software</span>
            <div class="education_calender">
              <i class="bx bxs-calendar"></i> 2020 - Present
            </div>
          </div>
          <div class="decoration">
            <span class="circle"></span>
            <span class="line"></span>
          </div>
        </div>
        <div class="education_data">
          <div class="addition"></div>
          <div class="decoration">
            <span class="circle"></span>
            <span class="line"></span>
          </div>
          <div>
            <h3 class="education_title">
              <i class="bx bxs-graduation"></i> Aishwarya Vidya Niketan
            </h3>
            <span class="education_subtitle"> &rarr; +2</span>
            <div class="education_calender">
              <i class="bx bxs-calendar"></i> 2018 - 2020
            </div>
          </div>
        </div>
        <div class="education_data">
          <div>
            <h3 class="education_title">
              <i class="bx bxs-graduation"></i> Aishwarya Vidya Niketan
            </h3>
            <span class="education_subtitle"> &rarr; SEE</span>
            <div class="education_calender">
              <i class="bx bxs-calendar"></i> 2016 - 2018
            </div>
          </div>
          <div class="decoration">
            <span class="circle"></span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
